<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="com.thoughtworks.training.NumberProcessor">

        <constructor-arg>
            <list>
                <ref bean="oddFilter"></ref>
                <ref bean="plusProcessor"></ref>
            </list>
        </constructor-arg>
    </bean>
    <bean id="oddFilter" class="com.thoughtworks.training.OddFilter">
    </bean>
    <bean id="plusProcessor" class="com.thoughtworks.training.PlusProcessor">
        <constructor-arg value="2"/>
    </bean>


</beans>
